* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e51e2a;
    clip-path: circle(50% at bottom right);
    /* deixa o circulo no lado direito */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 28px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .logo {
    position: relative;
    max-width: 160px;


}

header .navigation ul {
    position: relative;
    display: flex;

}


header .navigation li {
    list-style: none;
    border-radius: 40px;

}

header .navigation li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    margin-left: 100px;
    padding: 8px 20px;
    cursor: pointer;
    /* Opcional: muda o cursor */


}

header .navigation li a:hover {
    background: #e51e2a;
    border-radius: 30px;

}

/*  */

.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container .text {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.container .text h2 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}

.container .text h2 span {
    font-size: 3em;
    color: #e51e2a;
}

.container .text p {
    color: #fff;
}

.container .text a {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #e51e2a;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}

.container .text a:hover {
    transform: translateY(-10px);
}

.icons {
    position: absolute;
    bottom: 80px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icons li {
    list-style: none;
}

.icons li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #222;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.icons li a:hover {
    background: #e51e2a;
    transform: translateY(-10px);
}

.icons li a img {
    /*Esse comando inverte a img  */
    translate: scale(0.5);
    filter: invert(1);
}

/******** SLIDER*******/

.swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    display: flex;
    justify-content: center;


}

.container .imgBox {
    width: 500px;
    display: flex;
    justify-content: flex-end;

}

.container .imgBox img {
    max-width: 150px;

}

.swiper-slide img {
    position: absolute;
    bottom: 0;
    max-height: 100%;


}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;

}


/* FOOTER  */

footer {
    background: #fff;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.line-footer1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #222;
    /* Linha da site   */
    padding-bottom: 5px;
    /* subir a linha */

}

.line-footer1 img {
    max-width: 250px;
}

.interface .line-footer1 h1 {
    margin-top: 40px;
    font-weight: 800;
    font-size: 60px;
    margin-right: 35px;

}


.line-footer2 {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #222;
    padding-bottom: 5px;
    /* subir a linha */

}

.line-footer2 .box-line-footer {
    max-width: calc(100% / 3);
    /* ele divide as colunas em 3 partes iguais   */
}

.line-footer2 .box-line-footer h3 {
    margin-bottom: 20px;
}

.line-footer2 .box-line-footer a {
    display: block;
    /* ele deixar o link um deibaixo dou outro  */
    margin-bottom: 15px;
    font-weight: 600;
    color: #222;
    text-decoration: none;
}

.line-footer2 .box-line-footer a:hover {
    color: #e51e2a;

}

footer .line-footer3 {
    padding: 30px 10px;
    text-align: center;
}


/* Responsividade   */

@media screen and (max-width: 1500px) {


    .navigation {
        display: none;
    }

    header {
        padding: 20px 58px;
    }

    header .logo {
        width: 80%;
        margin-top: 30px;

    }



    .swiper-slide {
        display: none;
    }

    .container .text {
        text-align: center;
        margin-right: -52px;


    }

    .container .text h2 {
        /* color: #fff; */
        font-size: 1.5em;
        /* line-height: 2.5em; */
        /* font-weight: 700; */
        /* margin-left: 47px; */
    }



    .container .text p {
        color: #fff;
        font-size: 20px;
        margin-left: 20px;
    }

    section {
        position: relative;
        min-height: 100vh;
        padding: 9px;
        background: #121212;
        display: flex;

    }

    .container .text a {
        display: none;
    }

    .icons {
        position: absolute;
        bottom: 30px;
        left: 33px;
        display: flex;
    }


    /* FOOTER */

    .line-footer1 img {
        padding-bottom: 6px;
        margin: auto;

    }

    .interface .line-footer1 h1 {
        display: none;       
    }

 .line-footer2 {
    padding: 28px;
     display: flex; 
    justify-content: space-between;
    border-bottom: 1px solid rgb(34, 34, 34); 
}

.line-footer2 .box-line-footer h3 {
    color: #e51e2a;
    font-size: 22px;
}

}